.window{
    margin: 5vh 5vw;
}
table{
    width: 100%;
}
ul{
    list-style: none;
}
.keyboard{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 16.875rem!important;
    clear: both;
}
._col{
    float: left;
    width: 44vw;
    padding: 5vh 2vw;
    color: #606060;
}
.el{
    border-bottom: 1px solid #bbb;
}
.el:hover{
    background-color: #ddd;
}
.amb-equip:hover{
 color: #ff8c00;
}
.panel {
    margin: 1vh 1vw;
    overflow: hidden;
    background-color: #eee
}
.hide{
    display: none;
}
.active-accordion{
    cursor: pointer;
    background-color: #ddd;
}
